<?xml version="1.0" encoding="utf-8"?>
<root>
    <jemalloc>1</jemalloc>
    <log>
        <file>gate.log</file>
        <level>100</level>
    </log>
    <in>
        <ip>127.0.0.1</ip>
        <port>14010</port>
        <thread>8</thread>
        <max_read_msg_size>65536</max_read_msg_size>
        <max_write_msg_size>65536</max_write_msg_size>
    </in>
    <out>
        <ip>0.0.0.0</ip>
        <port>13118</port>
        <thread>12</thread>
        <broadcast>12</broadcast>
        <max_read_msg_size>65536</max_read_msg_size>
        <max_write_msg_size>65536</max_write_msg_size>
    </out>
</root>